*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.p_show{
    width: 100%;
    background: #f6f6f6;
   height: 130px;
}
.p_zhong{
    width: 1200px;
    margin: 0 auto;
    height: 130px;
}
.p_show_zuo{
   width: 335px;
   height: 109px;
   float: left;
   margin-top: 10px;
   background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/logo.jpg) no-repeat scroll 1px 0;
  
}
.p_show_zuo>a{
    width: 335px;
    height: 109px;
    display:block;
    
}
.p_show_you{
    float: right;
    width: 680px;
    height: 113px;
    margin-top: 18px;
    
}
.p_you_ziti{
    width: 550px;
    float: left;
}
.p_you_ziti>span{
    font-size: 12px;
    width:50px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
}
.p_you_ziti>span:hover{
    color: #db2242;
}
.p_you_ziti>p{
    float: right;
}
.p_sou{
    margin-top: 2px;
    width: 550px;
    height: 41px;
    float: left;
}
.p_sou>input{
    width:355px;
    height: 37px;
    float: left;
    border: 2px solid #dfdfdf;
    background: #fff;
}
.p_sou>div{
    width: 94px;
    height: 41px;
    background-color: #db2242;
    float: left;
    cursor: pointer;
    text-align: center;
    ;line-height: 41px;
    color: #fff;
    font-size: 16px;

}
.p_sou>div:last-child{
    margin-left: 3px;
}
.p_saoma{
    width: 80px;
    height: 90px;
    margin-top: -35px;
    float: right;
}
.p_saoma>p{
    font-size: 12px;
}
.p_saoma>p:last-child{
    width: 70px;
height: 70px;
background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/ico.png) no-repeat -208px 0;
}

.p_sty{
        height: 40px;
        width: 100%;
        border-bottom:2px solid #1c2124;
}
.p_sty1{
    width: 1200px;
    margin: 0 auto;
}
.p_sty1_zuo{
    width: 600px;
    height: 40px;
    float: left;
}
.p_xiang{
    width: 185px;
    height: 40px;
    float: left;
    background: #db2242;
    padding-left: 15px;
    line-height: 40px;
    color: #fff;
}
.p_xiang>i{
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 5px 10px 0 0;
    background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/ico.png) no-repeat -266px -231px;
}
.p_sty1_zuo>ul{
    float: left;
    height: 40px;
    margin-left: 20px;
}
.p_sty1_zuo>ul>li{
    float: left;
    width: 72px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}
.p_sty1_zuo li:first-child{
    color: #Db2242;
}
.p_sty1_zuo li:hover{
    color: #db2242;
}
.p_sty1_you{
    width: 160px;
    height: 40px;
    float: right;
}
.p_sty1_you li{
    float: left;
    height: 40px;
    line-height: 40px;
   margin-left: 20px;       
    cursor: pointer;
    font-size: 12px;
    color: #666;
}
.p_kuku{
    width: 1200px;
    margin: 0 auto;
    height: 300px;
}
.p_kuku_1{
    float: left;
    width: 198px;
    height: 298px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
    position: relative;
}
.p_kuku_1>ul>li{
    width: 198px;
    height: 45px;
    /* background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/line.gif) repeat-x bottom; */
    line-height: 45px;
    font-size: 14px;
    margin-left: 7px;
   
}
.p_kuku_1 i{
    width: 7px;
    height: 36px;
    background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/ico.png) no-repeat;  
    padding: 0 7px;
    float: left;
   

}

.p_kuku_1>ul>li a{
    color: #000000;
   
}
.p_nr0{
    display: none;
        width: 555px;
        height:282px;
        border: 1px solid #dfdfdf;
        background: #fff;
        position: absolute;
        left: 199px;
        top: 0;
        padding: 0px 15px 15px 20px;
}
.p_nr0>h4{
    border-bottom: #db2242 solid 1px;
    width: 300px;
    height: 45px;
    float: left;
}
.p_nr0>ul{
    width: 300px;
    height: 86px;
    float: left;
}
.p_nr0>ul>li{
    float: left;
    font-size: 12px;
    color: #db2242; 
    line-height: 0;
     margin: 18px 36px 0px 0px;
}
.p_nr0>p{
    width: 300px;
    height: 138px;
    float: left;
}
.p_cc{
    width: 225px;
    height: 285px;
    float: right;
    margin-top: -123px;
}
.p_cc>div{
    width: 223px;
    height: 110px;
    border: #DB2242 solid 1px;
    padding-top: 12px;
    padding: 12px 0px 0px 10px;
    background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/modCompany.png) no-repeat right bottom scroll;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 20px;
}
.p_cc h4{
    font: bold 14px/14px "微软雅黑";
    float: left;
    width: 223px;
    margin-bottom: 8px;
}
.p_kuku>img{
    width: 728px;
    height: 285px;
    margin: 15px 15px 0 15px;
}
.p_time{
    width: 240px;
    height: 282px;
    float: right;
    margin-top: 15px;
    border: 1px solid #dfdfdf;
}
.p_time>ul{
    height: 46px;
    font-size: 14px;
    background-color: #f5f5f5;

}
.p_time>ul>li{
    float: left;
    width: 119px;
 height: 45px;
 border-right: 1px solid #dfdfdf;   
 text-align: center;
 line-height: 45PX;
 background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/ico.png) no-repeat;
 background-position: 32px 14px;
}
.p_time>ul>li:last-child{
    
    background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/ico.png) no-repeat;
        background-position: 26px -18px;
}
.p_time li a{
    
    color: #444444
}

.p_shilw{
    width: 212px;
    border: 1px solid #dfdfdf;
    border-top: 0;
    padding: 15px 14px 10px 14px;

}
.p_shilw>ul{
    height: 30px;
    border-bottom: 1px solid #dfdfdf;
}
.p_shilw li{
    font-size: 12px;
    float: left;
    margin-right: 17px;
    color: #444;
    height: 30px;
}
.p_duoyu{
    width: 216px;
    height: 48px;
    margin-top: 10px;
}
.p_duoyu>ul>li{
font-size: 12px;
line-height: 24px;
}
.p_duoyu ul{
    display: none;
}

.p_duoyu1{
    display: block !important;
}
.p_con{
    border-bottom: 1px solid red;
}
.p_list span{
    width: 591px;
    height: 1px;
    background: red;
}
.p_sec{
    width: 1200px;
    height: 83px;
    margin: 0 auto;
    margin: 20px auto 20px auto;
    position: relative;
}
.p_secz{
    width: 600px;
    float: left;
    height: 83px;
}
.p_sech4{
    font: 16px/16px "微软雅黑";
    color: #373737;
    padding-right: 18px;
    background-color: #fff;

}
.p_xian{
    width: 495px;
    position: absolute;
    top: 8px;
    left: 75px;
    background: #DB2242;
    height: 2px;
}
.p_xian1{
    width: 495px;
    position: absolute;
    top: 8px;
    left: 705px;
    background: #DB2242;
    height: 2px;
}
.p_susu{
    width: 591px;
    padding-top: 15px;
   
}
.p_susu li{
    width: 169px;
float: left;
height: 20px;
font: 12px/20px "微软雅黑";
padding-right: 28px;
overflow: hidden;
margin: 5px 0px;
}
.p_susu1{
    width: 394px;
    height: 60px;
    float: left;
    margin-left: 20px;
       padding-top: 15px;
}
.p_susu1 li{
    width: 169px;
    float: left;
    height: 20px;
    font: 12px/20px "微软雅黑";
    padding-right: 28px;
    overflow: hidden;
    margin: 5px 0px;
}
.p_zz{
    width: 1200px;
    margin-top: 10px;
    margin: 0 auto;
}
.p_sc{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    height: 44px;
}
.p_sc h2{
    float: left;
    color: #373737;
    font: 18px/44px "微软雅黑";
    
}
.p_scyou{
    float: right;
height: 44px;
}
.p_scyou li{
    float: left;
    font-size: 12px;
    margin-right: 20px;
    line-height: 44px;
}
.p_gkd{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  
}
.p_gkd>ul>li{
        width: 588px;
        height: 691px;
        float: left;
        border: 1px solid #e1e1e1;
        margin-top: 10px;
      
}
.p_gkdNO1{
width: 216px;
height: 468px;
border-right: 1px solid #e1e1e1;
float: left;
}
.p_gkdNO2{
    float: left;
    width: 370px;
   height: 468px;
}
.p_gkdNO2>h3{
    width: 343px;
float: left;
background: url(http://zhengzhou.qihuiwang.com/Theme/ZZ/images/h3TitBg.png) no-repeat 14px center scroll;
font: 18px/53px "微软雅黑";
border-bottom: #e1e1e1 solid 1px;
color: #373737;
padding-left: 27px;
}
.p_gkdNO2>ul{
    width: 355px;
    float: left;
    height: 93px;
    border-bottom: #e1e1e1 solid 1px;
    padding: 20px 0px 0px 15px;
}
.p_gkdNO2 li{
    font-size: 14px;
    margin-right: 32px;
    margin-bottom: 15px;
    float: left;
}
.p_xiaokuang{
    width: 370px;
    height: 280px;
    float: left;
}
.p_xiaokuang li{
    margin-top: 23px;
    padding-left: 15px;
    width: 370px;
    height: 116px;
}
.p_spol{
    display: block;
width: 225px;
height: 14px;

float: left;
padding-left: 15px;
color: #373737;
margin-bottom: 8px;
overflow: hidden;
font: 14px/14px "微软雅黑";
color: #DB2242;

}
.p_xiaokuang span{
    display: block;
    padding-left: 15px;
    float: left;
}
.p_inde{
    width: 23px;
    height: 18px;
    display: inline-block;
    margin: 5px 0;
    background: url(http://v2.qihuiwang.com/images/ico.png) no-repeat;
   
    
    background-position: -212px -232px;
}
.p_indee{
   
    width: 23px;
    height: 18px;
    display: inline-block;
    margin: 5px 0;
    background: url(http://v2.qihuiwang.com/images/ico.png) no-repeat;
    background-position: -237px -232px;
}
.p_splplp{
    display: block;
width: 225px;
height: 14px;
font: 12px/14px "微软雅黑";
float: left;
padding-left: 15px;
color: #373737;
margin-bottom: 8px;

}
.p_oppo{
    width: 588px;
    border-top: 1px solid #e1e1e1;
    height: 220px;
    float: left;
}
.p_oppo>li{
    width: 166px;
    float: left;
    margin: 15px 15px 10px 15px;
    text-align: center;
}
.p_oppo img{
    width: 164px;
height: 164px;
border: #e1e1e1 solid 1px;
border: #e1e1e1 solid 1px;
display: block;
}
.p_oppo a{
    font: 14px/30px "微软雅黑";
    color: #373737;

}
.p_gkdNO2 li:hover{
    color: #ff6200;
    cursor: pointer;
}

/* #footer_main{
	width: 1200px;
	margin: 0 auto
}
#footerLogo2{
	margin: 40px 0 28px 0
}


#footer_main1{
	overflow: hidden;
}

#footer_main1_left{
	display: inline-block;
	width: 167px;
	
}
#footer_tel{
	font-size: 20px;
	font-weight: bold;
}
#footer_time{
	font-size:12px;
	color: #6e6e6e;
	line-height: 26px
}

#footer_main1_middle{
	float: left;
}
.footer_main1_middle1{
	display: inline-block;
	width: 130px;
}
.footer_main1_middle1 h4{
	font-size:16px;
	border-bottom:1px solid #dbdbdb;
	padding: 6px 0 18px 0
}
.footer_main1_middle1 p{
	font-size: 12px;
	margin-top: 15px
}
#footer_main1_middle #footer_main1_middle11{
	margin: 37px 113px 47px 84px
}
#footer_main1_middle #footer_main1_middle12{
	margin: 37px 74px 47px 114px
}

#footer_main1_right{
	float: left;
	width: 178px;
	border-left: 1px solid #f3f3f3;
	padding-left: 69px;
	margin-top: 40px
}
#footer_main1_right h4{
	font-size:16px;
}
#footer_main1_right_p{
	font-size: 12px;
	margin: 13px 0 19px 0
}
.oneCode{
	width: 73px;
	height: 90px;
	display: inline-block;
}
.oneCode img{
	width: 100%;
}
.oneCode p{
	width: 73px;
	text-align: center;
	font-size: 11px
}
#oneCode1{
	margin-right: 27px
}

#footer_main2{
	height: 1px;
	background-color: #e9e9e9;
}

#footer_main3{
	width: 1200px;
}
#footer_main3_one{
	padding:0 47px 0 36px;
	margin-top: 33px
}
#footer_main3_one span{
	font-size: 12px;
}
#footer_main3_one_ul{
	display: inline-block;
}
.footer_main3_ul li{
	display: inline-block;
}
#footer_main3_one_ul li a{
	font-size:9px;
	padding: 0 10px 0 12px
}
.footer_main3_ul li span{
	font-size:13px;
}
#footer_main3_two{
	padding:0 100px 0 100px;
	margin-top: 22px
}
#footer_main3_two_ul{
	display: inline-block;
}
#footer_main3_two_ul li a{
	font-size:12px;
	margin: 0 12px 0 12px
}
#footer_main3_two a{
	font-size:12px;
	display: inline-block;
	height: 18px;
	line-height: 18px;
}
#footer_main3_two_a0{
	width: 80px;
	background: url(../images/1_07.png) no-repeat right center;
}
#footer_main3_two_a1{
	width: 80px;
	background: url(../images/1_09.png) no-repeat right center;
}
#footer_main3_three{
	font-size:12px;
	margin: 28px 214px 0 214px
}
#footer_main3_three span{
	margin-right: 5px
}
#footer_main3_four{
	margin: 28px 300px 40px 300px
}
#footer_main3_four img{
	margin: 0 2px
} */