<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>必要网</title>
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/content.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: "微软雅黑"
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="list">
        <img src="images/index_03.png" alt="logo" class="logo">
        <div class="right">
            <div class="r_1">
                <input type="text" placeholder="请输入要搜索的商品">
                <div class="sumbit">
                    <img src="images/index_06.png" alt="">
                </div>
            </div>
            <div class="r_2">
                <a href="">风衣女</a>
                <a href="">羊绒衫</a>
                <a href="">面膜</a>
                <a href="">口红</a>
                <a href="">连衣裙</a>
                <a href="">外套</a>
                <a href="">夹克</a>
                <a href="">大衣</a>
                <a href="">耳机</a>
                <a href="">护肤</a>
            </div>
   
        </div>
        <div class="clear"></div>
    </div>
    <div class="nav">
        <a href="" class="n">首页</a>
        <a href="" class="n">每日上新</a>
        <div class="n1">
            <div class="n1_1">
                <a href="">了解必要</a>
                <div class="line"></div>
                <div class="n1_1_1">
                    <img src="images/code1.png" alt="">
                    <p>关注必要微信公众号了解你想了解的一切小必姐在此发福利哦</p>
                </div>
            </div>
            <div class="n1_2">
                <a href="">下载必要APP</a>
                <div class="line"></div>
                <div class="n1_2_1">
                        <img src="images/code1.png" alt="">
                        <p>关注必要微信公众号了解你想了解的一切小必姐在此发福利哦</p>
                </div>
            </div>
        </div>
        <a href="" class="n">我的必要</a>
        <div class="clear"></div>
    </div>
    <hr class="hr1">
    <div class="content">
        <a href="#">首页&nbsp></a>
        <a href="">白色苹果数据线</a>
        <img src="images/index_10.png" alt="" class="view">
        <div class="detail">
            <h3>白色苹果数据线</h3>
            <p class="p1">急速充电/MF认证工厂/经久耐用</p>
            <span class="p2">飞利浦制造商直供</span>
            <hr class="hr2">
            <div class="price">
                <span class="pr">售价</span>
                <span class="pr1">￥</span>
                <span class="pr2">49</span>
                <span class="pr">生产周期&nbsp：20天</span>
            </div>
            <div class="color">
                <span>颜色</span>
                <img src="images/index_13.png" alt="">
            </div>
            <div class="size">
                <span>尺寸</span>
                <img src="images/index_16.png" alt="">
                <div>2m</div>
            </div>
            <div class="buy">
                <input type="submit" value="立即购买">
                <div class="line2"></div>
                <div class="buy_code">
                    <img src="images/code2.png" alt="">
                    <p>微信扫码立即购买</p>
                </div>
            </div>
        </div>
        <div class="return">
            <div class="r">
                <img src="images/index_20.png" alt="">
                <a href="">7天无忧退货</a>
                <div class="explain">根据国家七天无理由退货规范，为你办理退货退款，具体退货政策见商品详情页。</div>
            </div>
            <div class="r">
                 <img src="images/index_20.png" alt="">
                <a href="">先行赔付</a>
                <div class="explain">争议可申诉，申诉成功，立即返款。</div>
            </div>
            <div class="r">
                <img src="images/index_20.png" alt="">
                <a href="">超时赔偿</a>
                <div class="explain">未按承诺时间发货，系统自动赔付(赔款金额为订单商品金额的30%，上限500元)。</div>
            </div>
            <div class="r">
                <img src="images/index_20.png" alt="">
                <a href="">顺丰包邮</a>
                <div class="explain">运费由商家承担。</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>
